○×問題
<%= link_to "すべての答えを見る", reserved_words_check_all_path, class: "all_answer", remote: true %>
<br>
ボタンは入力のみ可能で送信する機能はありません。<br>
答えを見るでそこの答えが見れます。<br>
<% @words.each do |word| %>
<div class="box">
  <input type="text" class="reserved_words_form" autofocus="true">
  <div class="hidden_word reserved_words_<%= word.id %>"><%= word.word %></div>
  <%= link_to "答えを見る", reserved_words_check_path(word), class: "reserved_words_answer_#{word.id}", remote: true %>
</div>

<% end %>